.card{
    display: flex;
    background-color: #f1f1f1;
    flex-direction: column;
    max-width: 200px;
    min-height: 200px;
    border-radius: 10px;
    border: 1px solid #b4b4b4 ;
  
}
.podcast-image {
    height: 80%;
    border-radius: 20px;
    margin-bottom: 10px;
   

}
.podcast-details{
    display: flex;
    justify-content: space-between;
}


