.episode{
    flex-direction: row;
    display: flex;
    background-color: #f1f1f198;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    border: 1px solid #b4b4b467;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
}
.about-episode{
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;

}

.episode-descr{
    display: flex;
    flex-direction: column;
}

.episode-image{
    height: 50px;
    border-radius: 5px;
}
.by{
    color:#db3b1c;
    font-size: 0.7rem;
}